<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OpenCV-Library.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>libjpeg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>libpng.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>opencv_calib3d.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>opencv_core.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>opencv_features2d.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>opencv_flann.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>opencv_imgproc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>opencv_ml.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>opencv_ts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>opencv_video.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>zlib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA15A818142159FA009E4104</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA62C790142139AF005F351B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA62C7A114213A01005F351B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA62C7EF14213AAF005F351B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA62C82314213B37005F351B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA62C8A714213C05005F351B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA62C909142147A3005F351B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA62C98314214A47005F351B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA62C9A514214CD4005F351B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA62CA0514214E2E005F351B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA62CA3914214F83005F351B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA62CA6F14215091005F351B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
